<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="home" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h2>
        Ejercicio01
      </h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="loadSkeleton($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!skeleton">
    <ion-card *ngFor="let post of posts">
      <ion-card-header>
        <ion-card-title color="primary" class="ion-text-uppercase">
          <h3>{{post.title}}</h3>
        </ion-card-title>
        <ion-card-subtitle>
          UserId: {{post.userId}} - Id: {{post.id}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{post.body}}</p>
        <p class="ion-text-center">
          <ion-button shape="round" color="success" (click)="abrirPopover(post)">Popover</ion-button>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="skeleton">
    <ion-card *ngFor="let x of [1,2,3,4]">
      <ion-card-header>
        <ion-card-title color="primary" class="ion-text-uppercase">
          <h3><ion-skeleton-text></ion-skeleton-text></h3>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-skeleton-text></ion-skeleton-text>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><ion-skeleton-text></ion-skeleton-text></p>
        <p class="ion-text-center">
          <ion-button shape="round" color="success" style="width: 8rem"><ion-skeleton-text></ion-skeleton-text></ion-button>
        </p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
