<app-header titulo="Cards"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card mode="ios" color="secondary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Accusantium consequatur
      cumque delectus dolorum facilis harum id inventore ipsa
      ipsum laudantium nesciunt nisi nostrum numquam obcaecati
      possimus sed, temporibus ut vero?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="assets/shapes.svg" alt="..."></ion-img>
    <ion-card-header color="danger">
      <ion-title>Título</ion-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ab aliquid aspernatur autem, consequatur delectus ex
      explicabo laboriosam neque odio, officiis perferendis
      quis quo ratione rem reprehenderit temporibus voluptatum!
      Natus, nulla.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon name="pin" color="light" slot="start"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Aliquam autem dicta doloribus eos exercitationem facere
      facilis harum impedit iste laboriosam, natus, nisi porro
      qui quibusdam quos reiciendis rem similique vitae!
    </ion-card-content>
  </ion-card>
</ion-content>
